<div class="container">
  <h3><span class="label label-info">
    Available funds: ${{user.funds}}
  </span></h3>
  <table class="table table-dark">
    <thead>
      <tr>
        <th>Owned Shares</th>
        <th>Symbol</th>
        <th>Name</th>
        <th>Date</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key,val) in equity">
        <td>{{val.userShares}}</td>
        <td>{{val.symbol}}</td>
        <td>{{val.name}}</td>
        <td>{{val.data[0]}} </td>
        <td>{{val.data[1]}}</td>
        <td>{{val.data[2]}}</td>
        <td>{{val.data[3]}}</td>
        <td>
          <button class="btn btn-success" ng-disabled="val.data[1] > user.funds" ng-click="buyShare(key)">Buy</button>
          <button class="btn btn-danger" ng-disabled="val.userShares == 0" ng-click="sellShare(key)">Sell</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>